*{
margin: 0px;
padding: 0px;
}
.container{
text-align: center;
margin-top: 23px;
}
table{
    margin: auto;
}
input{
    border: 5px solid #831111;
    border-radius: 18px;
    font-size: 34px;
}
button{
    font-size: 23px;
    border-radius: 19px;
    background-color: #666363e0;
    height: 60px;
    width: 97px;
    margin: 4px;
}
.calculator{
    display: inline-block;
    background-color:#e794ec;
    border: 7px solid #831111;
    border-radius: 23px;
    padding: 23px;
}